.navbar {
  background-color: rgba(72, 78, 84, 0.294);
  font-family: 'Roboto', sans-serif; /* Typsnitt */
  margin: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.navbar-brand {
  font-size: 2.0rem;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.nav-item{
font-size: 20px;
}

.centeredX {
position: relative;
top: 99%;
left: 50%;
transform: translate(-50%, -1%);
}

.startPageImage {display: inline-block; max-width: 800px; max-height: 800px;}

.startPageImage img {max-width: 100%; height:auto;}

.custom-bg-col {
background-color: rgba(45, 105, 194, 0.24);
}

@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  
  .card-registration .select-arrow {
  top: 13px;
  }
  
  .bg-grey {
  background-color: #c2c0c0;
  }
  
  @media (min-width: 992px) {
  .card-registration-2 .bg-grey {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  }
  }
  
  @media (max-width: 991px) {
  .card-registration-2 .bg-grey {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  }
  }